@media (max-width: 1200px)
    .menu
        &_lian
            padding-left: 100px
        &_list
            transform: translate(155px, -25px)
    .title
        &_text
            font-size: 40px
@media (max-width: 992px)
    .title
        &_text
            font-size: 25px
        &_subtext
            font-size: 15px
@media (max-width: 767px)
    .title
        &_text
            font-size: 10px
    
// @media (max-width: 768px)
// @media (max-width: 480px)
// @media (max-width: 320px) 
    